body {
  margin: 0;
  background-image: url("./img/pxfuel.jpg");
  /* background-position: center; */
  background-origin: fixed;
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  overflow: hidden;
}

.touchbox {
  height: 100vh;
  width: 100vw;
}

.bird {
  position: absolute;
  height: 10vh;
  width: 10vh;
  background-color: red;
  /* background-image: url("./img/bird.png"); */
  /* background-size: contain; */
  bottom: 50vh;
  left: 15vw;
  border-radius: 10vh;
  /* transition: 0.8s ; */
}

#pip1 {
  left: 40vw;
}
#pip3 {
  left: 70vw;
}
#pip5 {
  left: 100vw;
}
#pip6 {
  left: 130vw;
}

.pip_cont {
  position: absolute;
  height: 100vh;
  width: 7vw;
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
}

.pip_up {
  width: auto;
  height: 30vh;
  background-color: purple;
  /* background-image: url("./img/pipe.png"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}
.trou {
  width: auto;
  height: 40vh;
  /* background-color: red; */
}
.pip_down {
  width: auto;
  height: 30vh;
  background-color: purple;
}

.score {
  color: red;
  position: absolute;
  z-index: 10;
  font-size: 20vh;
  font-family: sans-serif;
}
